node_modules/

__pycache__/*
venv/


.Xil/
build/
artifacts/
*.jou
*.log
*.str
*.pb
*.rpt
*.dcp
*.bit
*.ltx
*.hwh
*.xsa
*.hwdef
*.html
*.cache/
*.gen/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
xsim.dir/
*.wdb
*.vcd
*.bak
*~
