[Unit]
Description=Start PYNQ environment and Python application
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/local/bin/start_pynq_app.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
